<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TouchMPCGtk.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="MusicData.Impl.MpdFilesystemArtFetcher.MpdMusicBase" value="\\router.mediaparts\public\music"/>
  </appSettings>
    <userSettings>
        <TouchMPCGtk.Settings>
            <setting name="MpdHostname" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="MpdPort" serializeAs="String">
                <value>6600</value>
            </setting>
            <setting name="LastPage" serializeAs="String">
                <value>NowPlaying</value>
            </setting>
        </TouchMPCGtk.Settings>
    </userSettings>
  <log4net>
    <appender name="UiAppender" type="TouchMPCGtk.UiLogAppender, TouchMPCGtk" />
    <appender name="ConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="UiAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>
</configuration>